@font-face {
  font-family: 'exo-bold';
  src: local('exo-bold'), url('./assets/fonts/exo-bold.woff2') format('woff2');
 }
@font-face {
  font-family: 'roboto-regular';
  src: local('roboto-regular'), url('./assets/fonts/roboto-regular.woff2') format('woff2');
 }